# Config Hash: ${config_hash}
enrich {
  streams {
    in {
      raw = "${in_stream_name}"
    }
    out {
      enriched = "${enriched_stream_name}"
      bad = "${bad_stream_name}"
      partitionKey = ""
    }
    sourceSink {
      enabled = kinesis
      region = "${region}"
      aws {
        accessKey = iam
        secretKey = iam
      }
      maxRecords = 10000
      initialPosition = "${initial_position}"
      initialTimestamp = ""
      backoffPolicy {
        minBackoff = 50
        maxBackoff = 500
      }
      disableCloudWatch = true
    }
    buffer {
      byteLimit = ${byte_limit}
      recordLimit = ${record_limit}
      timeLimit = ${time_limit_ms}
    }
    appName = "${app_name}"
  }
}
